@import url("reset.css");
.nav__item {
  display: flex;
  height: 3.125em;
  color: #797e83;
}

.nav__item a {
  font-weight: 100;
  margin: auto;
  font-size: 1.125em;
  color: inherit;
}

.grid__row {
  text-align: center;
}

.card p, .headline--secondary, .headline--primary, .blockquote {
  text-align: left;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.link {
  color: #52bab3;
  font-weight: 400;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 87.5em;
  margin: 0 auto;
}

.grid__row {
  padding: 3em 0;
}

.nav {
  padding: 0;
}

.nav__item a {
  font-weight: 300;
}

.nav__item:hover {
  background: #52bab3;
  border-radius: 0.3125em;
  color: #fff;
}

.card p {
  color: #797e83;
}

.headline--secondary {
  letter-spacing: 1px;
  color: #d6d7d9;
  font-weight: 100;
}

.headline--primary {
  color: #52bab3;
  line-height: 1.2;
  width: 90%;
  margin-left: 0.9375em;
}

.blockquote {
  border-left: 6px solid #52bab3;
  padding-left: 0.9375em;
  width: 80%;
  margin: 20px auto 40px;
  font-style: italic;
  color: #999da1;
  font-size: 1.25em;
  line-height: 1.2;
}

.img--avatar {
  display: block;
  margin: 15px auto;
}

.form__label--hidden {
  display: none;
}

.form__input {
  display: block;
  border: none;
  height: 2.8125em;
}

.img--frame {
  width: 100%;
}
