@import url("reset.css");
.nav__item {
  display: flex;
  height: 3.125em;
  color: #797e83;
}

.nav__item a {
  font-weight: 100;
  margin: auto;
  font-size: 1.125em;
  color: inherit;
}

.grid__row {
  text-align: center;
}

.card p, .headline--secondary, .headline--primary, .blockquote {
  text-align: left;
}

.form__input {
  border: none;
  border-bottom: 0.4375em solid #6EDBBC;
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 3.75em;
  padding-left: 0.625em;
}

.form__input::placeholder {
  color: #999da1;
  font: 16px "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form__input:focus {
  outline: none;
}

.theme__colors {
  border-radius: 0.3125em;
  margin-bottom: 0.4375em;
  padding: 0.625em 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.link {
  color: #39add1;
  font-weight: 400;
}

.img--avatar {
  display: block;
  margin: 15px auto;
}

.img--frame {
  width: 100%;
  border: 1px solid #d6d7d9;
  padding: 0.625em;
}

.container {
  width: 90%;
  max-width: 87.5em;
  margin: 0 auto;
}

.grid__row {
  padding: 3em 0;
}

.nav {
  padding: 0;
}

.nav__item a {
  font-weight: 300;
}

.nav__item:hover {
  background: #6EDBBC;
  border-radius: 0.3125em;
  color: #fff;
}

.card p {
  color: #797e83;
}

.headline--secondary {
  letter-spacing: 1px;
  color: #999da1;
  font-weight: 100;
}

.headline--primary {
  color: #6EDBBC;
  line-height: 1.2;
  width: 90%;
  margin: 1.875em 0 1.875em 0.9375em;
}

.blockquote {
  border-left: 6px solid #6EDBBC;
  padding-left: 0.9375em;
  width: 80%;
  margin: 20px auto 70px;
  font-style: italic;
  color: #999da1;
  font-size: 1.25em;
  line-height: 1.2;
}

.form__label--hidden {
  display: none;
}

.form__input:last-of-type {
  margin: 1.25em auto;
}

.form > .btn--default {
  background: #39add1;
}

.btn--default {
  background-color: #39add1;
}

.btn--success {
  background-color: #5ece7f;
}

.btn--error {
  background-color: #e67478;
}

.btn--warning {
  background-color: #ff784f;
}

.btn--info {
  background-color: #9279c3;
}

[class^='btn--'] {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0.3125em;
  padding: 0.8125em 0;
  margin-top: 0.9375em;
  text-transform: uppercase;
  font: 16px "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 700;
}

.grid__col--12.theme__colors {
  background-color: #6EDBBC;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}

.grid__col--6.theme__colors {
  background-color: #15c2f3;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}

.grid__col--4.theme__colors {
  background-color: #76DBF8;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}

.grid__col--3.theme__colors {
  background-color: #a08bcb;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}

.grid__col--5.theme__colors {
  background-color: #5ece7f;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}

.grid__col--7.theme__colors {
  background-color: #e67478;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}

.grid__col--8.theme__colors {
  background-color: #ff784f;
  text-align: left;
  padding-left: 0.9375em;
  color: #797e83;
  font-weight: 700;
}
