// ==========================================================================
// Extends
// ==========================================================================


// Nav Items

%nav-item-link {
	display: flex;
	height: em(50px);
	color: getColor(grey);
}

%nav-item-a {
  font-weight: $font-weight--thin;
  margin: auto;
  font-size: em(18px);
  color: inherit;
  
}

// ==========================================================================
// Helpers
// ==========================================================================

// Alignment text

%center-align {
	text-align: center;
}

%left-align {
	text-align: left;
}
