// ==========================================================================
// Extends
// ==========================================================================


// Nav Items

%nav-item-link {
	height: em(50px);
	color: getColor(grey);
}

%nav-item-a {
	display: block;
 	font-weight: $font-weight--thin;
 	padding: em(10px);
 	font-size: em(18px);
 	color: inherit;
 	width:100%;  
}

// ==========================================================================
// Helpers
// ==========================================================================

// Alignment text

%center-align {
	text-align: center;
}

%left-align {
	text-align: left;
}

// Buttons


%btn-border{
	border: none;
	border-bottom: em(7px) solid $bermuda;
	font-weight: $font-weight--bold;
	width: 90%;
	margin: 0 auto;
	display: block;		
	height: em(60px);
	padding-left: em(10px);
	&::placeholder{
		color: getColor(grey, light);		
		font: $base__font-size $font-family--primary;
	}
	&:focus{
	outline: none;	
	}
}
%grid__col{
	border-radius: em(5px);
	margin-bottom: em(7px);
	padding: em(10px) 0;
}
