// BEM selectors


@mixin lo($bo){
	font-size: $bo;
}

@mixin e($element) {
	&__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Generate modifier color classes

@mixin bg-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;    
		}
	}
}

// Generate modifier color classes

@mixin grid-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme}.theme__colors {
			background-color: $color;
			text-align: left;
			padding-left: em(15px);		
			color: getColor(grey);
			font-weight: $font-weight--bold;
		}
	}
}

