// ==========================================================================
// Main
// ==========================================================================

// Layout

.container {
	width: 90%;
	max-width: em(1400px);
	margin: 0 auto;
	// padding: 0 em(25px) em(15px);
}

.grid__row {
	@extend %center-align;
    padding: 3em 0;
}

// ==========================================================================
// Nav
// ==========================================================================

.nav {
	padding: 0;
	&__item{
		@extend %nav-item-link;		
		
		& a{			
			font-weight: $font-weight--light;
			@extend %nav-item-a;
		}

		&:hover {
				background: $bermuda;
				border-radius: em(5px);
				color: $white;
			}		
	}
}

// ==========================================================================
// Headlines
// ==========================================================================

.card {

	& p{
		@extend %left-align;
		color: getColor(grey);
	}	 
}

.headline--secondary {
	@extend %left-align;
	letter-spacing: 1px;
	color: getColor(grey, light);
	font-weight: $font-weight--thin;
}

.headline--primary{
	color: $bermuda;
	line-height: 1.2;
	width: 90%;
	margin: em(30px) 0 em(30px) em(15px); 
	@extend %left-align;	
}

.blockquote{	
	border-left: 6px solid $bermuda;
	padding-left: em(15px);	
	width: 80%;
	margin: 20px auto 70px;
	font-style: italic;
	color: getColor(grey, light);
	font-size: em(20px);
	line-height: 1.2;
	@extend %left-align;
}

// ==========================================================================
// Form
// ==========================================================================

.form {
	
	@include e(label--hidden){
		display: none;	
	}

	@include e(input){				
		@extend %btn-border;
		&:last-of-type{
			margin: em(20px) auto;
		}
	}
	& > .btn--default {		
		background: $scooter;		
	}

}


// ==========================================================================
// Buttons
// ==========================================================================

.btn{
	@include bg-colors($ui-colors);
}

[class^='btn--']{
	display: block;	
	width: 100%;
	border: none;
	border-radius: em(5px);
	padding: em(13px) 0;
	margin-top: em(15px);
	text-transform: uppercase;
	font: $base__font-size $font-family--primary;
	color: $white;
	font-weight: $font-weight--bold;	
}



.theme__colors{
	@extend %grid__col;
}



.grid__col{
	@include grid-colors($grid-theme-colors);
}

